.messageSender{
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-top: 30px;
    background-color: white;
    border-radius: 15px;
    width: 100%;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
}
.messageSender__top{
    display: flex;
    border-bottom: 2px solid rgba(231, 226, 226, 0.486);
    padding: 15px;
    
}
.messageSender__top>form{
    flex: 1;
    display: flex;
    margin: 10px 2px;
}
.messageSender__top>form > input{
    outline-width: 0;
    border: none;
    padding: 5px 20px;
    margin: 0px 10px;
    border-radius: 999px;
    background-color: rgb(237 237 237);
}
.messageSender__top > .messageSender__avatar{
    margin: 10px;
    border: 3px solid #2e81f4;
}

.messageSender__bottom{
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.messageSender__option{
    padding: 20px;
    align-items: center;
    display: flex;
    color: gray;
    margin: 5px;
}

.messageSender__option > h3{
    margin-left: 10px;
    font-size: medium;

}

.messageSender__option:hover{
    background-color: rgb(196, 191, 191);
    border-radius: 20px;
    cursor: pointer;
}


.messageSender__top > form > button { 
    display: none;
}

.messageSender__input{
    flex: 1;
}

